// Reset CSS
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary,
time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}
html{
  line-height: 1
}
ol, ul{
  list-style: none
}
table{
  border-collapse: collapse;
  border-spacing: 0
}
caption, th, td{
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}
q, blockquote{
  quotes: none;
  &:before, &:after{
    content: "";
    content: none;
  }
}
a img{
  border: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
  display: block
}
// Grids
html{
  font-size: 1.25em
}
body{
  font-family: 'BenchNine', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem
}
h1, .h1{
  font-size: 3rem;
  line-height: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5em
}
h2, .h2{
  font-size: 2.4rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h3, .h3{
  font-size: 1.35rem;
  line-height: 1.3rem;
  margin-top: 0.5em;
  margin-bottom: 1em;
}
p, ul, ol{
  line-height: 1.5rem;
  margin-top: 0.5em;
  margin-bottom: 1em
}
ul ul, ol ol, ul ol, ol ul, .no-margin{
  margin-top: 0;
  margin-bottom: 0;
}
.wrapper{
  width: 95%;
  max-width: 1550px;
  margin: 0 auto;
  background: #fff;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}
.header-title{
  padding-right: 1rem;
  margin: 0;
}
.menu{
  background: #543973;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  border-radius: 1em;
}
.menu-item{
  list-style: none;
}
.menu-item a{
  background: #3B2851;
  padding: 10px 20px;
  margin: 1px 0px;
  display: block;
  text-decoration: none;
  color: white;
  &:hover{
    background: #6d4a95;
    color: #d4c7e4
  }
}
main{
  background: #fff;
  padding-top: 1.5rem
}
.row{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem
}
.article{
  flex: 0 0 44%
}
.bt{
  display: inline-block;
  text-align: center;
  justify-content: center;
  vertical-align: middle
}
.bt a{
  color: #fff;
  display: block;
  background-color: #3B2851;
  padding: .375rem .75rem;
  border-radius: .25rem;
  &:hover{
    background: #6d4a95;
    color: #cccccc
  }
}
.containerVignettes{
  padding: 1.5rem;
  box-shadow: -1px -1px 20px 10px #ededed;
}
.vignette{
  position: relative;
  flex: 0 0 29%
}
.vignette-figcaption{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  display: none;
  columns: #ededed;
  padding: 1rem
}
.vignette:hover .vignette-figcaption{
  display: block
}
.main-footer{
  padding: 1rem;
  margin-top: 1.5rem;
  text-align: center;
  justify-content: center
}